{% load static%}
<!DOCTYPE html>
<html>
<head></head>
<link rel="stylesheet",href="{%static 'css/main.css'%}",type="text/css">
<body style="background-image: linear-gradient(to right,purple,pink); font-weight: 5em;font-size: large;">
<center>
<h1>login here</h1>
<h2>{{html}}</h2>
<form method="POST">
        {%csrf_token%}
    <table>    
        {{log.as_table}}
    </table>
    <input type="submit" name="login"><br>
    <a href="">forgot password</a>

</form>
    </center></pre>
</body>
</html>